.cardFriends {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    gap: 6px;
    box-shadow: 0 0 4px 5px lightgray;
    }
    
    .friendName {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
    }
    
    .friendStatus {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }
    
    .imageAvatar {
        width: 48px;
    
    }
    
    .greenText {
        color: green;
    }
    
    .redText {
        color: red;
    }